@import "tailwindcss";


.dark {
  --color-gray-0: #282c35;
  --color-gray-100: #070809;
  --color-gray-200: #303339;
  --color-gray-300: #5c616a;
  --color-gray-400: #8b939f;
  --color-gray-500: #9ca3ad;
  --color-gray-600: #b5bbc5;
  --color-gray-700: #cbd1da;
  --color-gray-800: #e3e7ed;
  --color-gray-900: #f8f9fb;
}